
*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

a{

    text-decoration: none;
    
}

/* comentarios */

/*?Header*/

.navbar-brand img {

width: 60px;

}

/*?Main*/

.hero {

    color: white;
    text-align: center;
    height: 90vh;
    background-image: url("../img/Cross1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
  



    
}
.hero h2{
    font-size: 40px;
    margin: 5vh;
}

.hero h3{
    font-size: 20px;
    margin: 2px;  
}

.hero h4{
    font-size: 30px;
    margin: 10px;

}


.obj{
    color: white;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap; 
    background-color: black;
} 
.obj h2{
    font-size: 40px;
    margin: 5vh;
}

.obj h3{
    font-size: 20px;
    margin: 2px;  
}

.moda {
    color: white;
    text-align: center;
    /* height: 400px; */
    background-color: black;
}



.moda .imgmoda{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 15px;
   flex-wrap: wrap;
  
   
}
.moda h2{    
    font-size: 40px;   
}

.moda h3{    
    font-size: 20px;
    margin: 2px;      

}  
.moda h4{    
    font-size: 20px;
    margin: 10px;      

} 
.moda h5{    
    font-size: 15px;
    
} 

.moda .imgmoda img {
    width: 40%;    
    margin: 5px;
}

.moda .imgmoda h3 {
    font-size: 20px;
    margin: 2px;
}
.moda .imgmoda h4 {
    font-size: 15px;
    margin: 15px;
}




@media screen and (max-width:750px)  {

    .hero {

        color: white;
        text-align: center;
        height: 70vh;
        background-image: url("../img/Cross1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        flex-wrap: wrap;
       }
    .hero h2{    
        font-size: 20px;
        margin: 10px;
    }
    
    .hero h3{    
        font-size: 10px;
        margin: 2px;      
    
    }    
    .hero h4{
        font-size: 15px;
        margin: 5px;    
    }
    .obj h2{    
        font-size: 20px;
        margin: 10px;
    }
    
    .obj h3{    
        font-size: 10px;
        margin: 2px;      
    
    }  
    .moda h2{    
        font-size: 20px;
       
    }
    
    .moda h3{    
        font-size: 10px;
        margin: 2px;      
    
    }  

    .moda .imgmoda img {
        width: 200px;    
        margin: 5px;
    }
    
    .moda .imgmoda h3 {
        font-size: 15px;
        margin: 2px;
    }
    .moda .imgmoda h4 {
        font-size: 10px;
        margin: 2px;
    }


}

/*?FAQS*/

.preguntas{

    display: flex;
    flex-direction: column; 
    align-items:center;
    justify-content:center;
}
.preguntas h2{

    font-size: 25px;
    padding: 15px;;

}
.preguntas h3 {

    font-size: 20px;
    padding: 15px ;
}

/*?Contacto*/

.hero-contacto h3{

    margin: 50px;

}
.hero-contacto h2{

    margin: 100px;
    align-content:end  ;

}
/*?Galeria*/

.grid-galeria {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,minmax(250px, 1fr));
    grid-auto-rows: 250px;
    gap: 15px;
  }
  .grid-galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
    padding: 5px;
    box-shadow: 10px 17px 5px -1px rgba(0,0,0,0.64);
    -webkit-box-shadow: 10px 17px 5px -1px rgba(0,0,0,0.64);
    -moz-box-shadow: 10px 17px 5px -1px rgba(0,0,0,0.64);
  }

  .img-2{

    grid-column: span 2;
    grid-row: span 2;   

  }

  .img-6 {
grid-row: span 3;
  }

.img-7{
    grid-column: span 2;
}

@media screen and (max-width:690px)  {

    .grid-galeria {
        width: 100%;
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2,minmax(250px, 1fr));
        grid-auto-rows: 250px;
        gap: 15px;
      }

      .img-1{
        grid-column: span 2;
      }

      .img-2{

        grid-column: span 2;
      
      }
    
      .img-6 {
    grid-row: span 1;
      }
    
    .img-7{
        grid-column: span 2;
    }
    

    
}

@media screen and (max-width:200px)  {

    .grid-galeria {
        width: 100%;
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(1,minmax(250px, 1fr));
        grid-auto-rows: 250px;
        gap: 15px;
      }

      .img-1{
        grid-column: span 1;
      }

      .img-2{

        grid-column: span 1;
      
      }
    
      .img-6 {
    grid-row: span 1;
      }
    
    .img-7{
        grid-column: span 1;
    }
    

    
}

/*!Footer*/

img.logo {
    width: 50px;
    height: 50px;
}

.logo{

    background-color: black;
    margin: 5px;    
}
footer h2 {

    font-size: 20px;
    color: white;

}
footer {   
    
    height: 60;    
    background-color: black;
    display: flex;
    justify-content:space-between;
    align-items: baseline;
    flex-wrap: wrap; 
}

@media screen and (max-width:750px)  {

    footer {   
    
        height: 60;    
        background-color: black;
        display: flex;
        justify-content:space-around;
        align-items: baseline;
        flex-wrap: wrap; 
    }
    img.logo {
        width: 30px;
        height: 30px;
    }
    footer h2 {

        font-size: 10px;
        color: white;
    
    }

    
}
