/*MQ galeria*/
@media screen and (max-width:690px) {

    .grid-galeria {
        width: 100%;
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        grid-auto-rows: 250px;
        gap: 15px;
    }

    .img-1 {
        grid-column: span 2;
    }

    .img-2 {

        grid-column: span 2;

    }

    .img-6 {
        grid-row: span 1;
    }

    .img-7 {
        grid-column: span 2;
    }



}

@media screen and (max-width:500px) {

    .grid-galeria {
        width: 100%;
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(1, minmax(250px, 1fr));
        grid-auto-rows: 250px;
        gap: 15px;
    }
    .img-2 {

        grid-column: span 1;
        grid-row: span 1;
       

    }

    .img-1 {
        grid-column: span 1;
    }

    

    .img-6 {
        grid-row: span 1;
    }

    .img-7 {
        grid-column: span 1;
    }



}


/*MQ footer*/

@media screen and (max-width:500px) {

    footer {

        height: 60;
        background-color: black;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;

        h2 {

            font-size: 10px;
            color: white;
        }

        div {

            a {
                img {
                    width: 30px;
                    height: 30px;
                }

            }
        }


    }
}



/*MQ main*/
@media (max-width: 965px) {
    .carousel-caption {
        bottom: 10%;
        top: 250px;
       
    }

    .carousel-caption h5 {
        font-size: 1.2rem;
    }
}

@media (max-width: 560px) {
    .carousel-caption {
        bottom: 1%;
    }

    .carousel-caption h5 {
        font-size: 0.6rem;
    }

    .carousel-caption p {
        font-size: 0.5rem;
    }
}

/*MQ Contacto*/


